@import "./menu.scss";
@import "src/components/colors.scss";

.editor {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & .backdrop {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
    }

    & button.editorButton {
        display: block;
        margin: .5rem 0;
        padding: .25rem 1rem;
        background: $orange;
        color: $black;
        border: 2px solid $black;
        font-weight: bold;
        cursor: pointer;
    }
}

#feedbackButtons {
    display: block;
    position: absolute;
    bottom: .5rem;
    left: .5rem;
}
