@import "src/components/variables.scss";
@import "src/components/colors.scss";

header {
    display: block;
    position: relative;
    width: 100%;
    padding: $headerPaddingT $headerPaddingR $headerPaddingB $headerPaddingL;
    background: $red;
    color: white;
    z-index: 4;
}

header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: $headerInnerHeight;
    border: 0;
}
