.contextMenu {
    display: block;
    position: absolute;

    & .backdrop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }

    & .menu {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10em;
        background: red;
        border: 2px solid blue;
    }
}
