.contextMenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    & .backdrop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
    }

    & .menu {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        width: 10em;
        height: initial;
        color: #111;
        background: #fff;
        border-radius: 10px;
        box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .5);

        & .item {
            display: block;
            margin: 0;
            padding: 0 1em;
            line-height: 2em;
            cursor: pointer;

            &:hover {
                background: orange;
                padding-left: 1.25em;
            }
        }
    }
}
