.popup {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5 !important;

    & .backdrop {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
    }

    & .body {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 4rem;
        max-height: 100%;
        background: white;
        border: 3px solid black;
        transform: translate(-50%, -50%);
        overflow-y: scroll;

        & h1 {
            display: block;
            margin-top: 0;
            font-weight: normal;
            line-height: 1.25em;
            border-color: black;
            border-width: 3px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 1400px) {
    .popup {
        & .body {
            width: 75%;
        }
    }
}

@media screen and (max-width: 900px) {
    .popup {
        & .body {
            width: 90%;
        }
    }
}

.key {
    display: inline-block;
    padding: 0 .25rem;
    background: lightgrey;
    border: 1px solid grey;
    color: #c33;
    font-family: monospace;
}
