// grey tones
$white: white;
$lightGrey: #e6e6e6;
$grey: #aaa;
$darkGrey: #777;
$black: #222;

// blues
$blue: rgba(46, 196, 182, 1);
$lightBlue: #19B5FE;
$darkBlue: #3d4752;

// reds
$red: rgba(231, 29, 54, 1);
$lightRed: #ef4836;

// oranges
$orange: rgba(255, 159, 28, 1);
$darkOrange: #d35400;

$green: green;
