@import "src/components/variables.scss";
@import "src/components/colors.scss";

.menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    color: $white;
    padding: $menuPaddingT $menuPaddingR $menuPaddingB $menuPaddingL;
    width: $menuWidth;
    height: calc(#{$headerHeight} + #{$modellerHeight});
    background: $orange;
    z-index: 3;
    transition: all $menuTransitionDuration ease;
}

.menu.hidden {
    left: -$menuWidth;
}

.menu .category {
    display: block;
    border-bottom: 1px solid black;
}

.menu .category:last-child {
    border-bottom: 0;
}

.menu h1 {
    display: block;
    margin: 0;
    font-size: 1.25em;
    border-bottom: 0;
}
